{% extends 'base.html.twig' %}

{% block title %}{{ page.titre }}{% endblock %}

{% block main %}

<main class="pageCoaching">
<!--page 2 :Coaching---->

    <section class="coaching">

        <div class="container">
            <hr>
        </div>

        <img class="container-fluid" src="{{ vich_uploader_asset(page.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ page.picture.alt }}">

        {% for article in page.articles %}
          
        <div class="ItemTextCoaching container">
            <p>{{ article.contenu | raw('html') }}</p>
        </div>

        {% endfor %}


    </section>

</main>




{% endblock %}

