{% extends 'base.html.twig' %}

{% block title %}Personnalisez votre tenue{% endblock %}

{% block main %}

<main class="container-fluid">

  <div class="container">
    <hr>
    <h2>Compose ta tenue</h2>
  </div>

  <section class="container">

ok



  </section>       








</main>



{% endblock %}
