{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block main %}
    <main class="container-fluid compte">


        <!----page connexion--->

        <div class="container">
            <hr>
            <h2>Mon compte</h2>
        </div>



        <article class="container">

      <p>Mon compte</p>

        </article>












    </main>


{% endblock %}

