{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}

    <main class="container-fluid pageCollections">

        <section class="collections">

            <div class="container">
                <hr>
                <h2></h2>

            </div>

            <article class="container">

                <div class="gallery row">
                  
                        <div class=" col-sm-6 col-xl-4 position">
                            <div class="card">
                                <img class="card-img-top" src="">

                                <div class="card-body">
                                    <p class="card-text"></p>
                                    <p class="card-text"></p>

                                </div>

                            </div>
                        </div>
             

                </div>

            </article>

        </section>




    </main>


{% endblock %}