{% extends 'page/contact.html.twig' %}

{% block title %}
  {{ page.titre }}
{% endblock %}

{% block main %}

<main class="container-fluid">

   <section class="livraison">

        <div class="container">
          <hr>
          <h2>{{ page.titre }}</h2>

        </div>

        {% for article in page.articles%}
	        <article class="container footer">
	           <div class="card">
	             <div class="card-body">
		             <h4>{{ article.titre | raw('html')}}</h4>
		             {{ article.contenu | raw('html') }}
	             </div>
	           </div>
	        </article>
        {% endfor %}

   </section>
</main>

{% endblock %}

