{% extends 'base.html.twig' %}

{% block title %}Édition{% endblock %}

{% block main %}

<main class="container-fluid">

  <div class="container">
    <hr>
    <h2>Mets à jour tes informations</h2>
  </div>

  <section class="container">


    {{ include('user_identity/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="javascript:history.back()">Retour</a>


   </section>





 </main>
{% endblock %}
