{% extends 'base.html.twig' %}

{% block title %}crée ton profil{% endblock %}

{% block main %}

<main class="container-fluid">

    <div class="container">
        <hr>
        <h2>Crée ton profil</h2>
    </div>

    <section class="container">



    {{ include('user_identity/_form.html.twig') }}


    </section>
</main>
{% endblock %}
