{% trans_default_domain 'FOSUserBundle' %}

<main class="container-fluid compte">
    <div class="container">
        <hr>
        <h2>Inscription</h2>

    </div>

    <article class="container">
            <form>
                <form name="fos_user_registration_form" method="post" action="/register/" class="fos_user_registration_register">
                    <div id="fos_user_registration_form">

                        <div class="form-group">
                            <label for="fos_user_registration_form_email" class="required">Adresse e-mail</label>
                            <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="fos_user_registration_form_username" class="required">Nom d&#039;utilisateur</label>
                            <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="fos_user_registration_form_plainPassword_first" class="required">Mot de passe</label>
                            <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="new-password" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="fos_user_registration_form_plainPassword_second" class="required">Répéter le mot de passe</label>
                            <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password" class="form-control" />
                        </div>

                        <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="3jOba92Cq72LJYLMsYfs0UM0rBaRaHHsu69hBwQMkBc" />
                    </div>

                    <div>
                        <button class="button3" style="width: 462px;height: 62px;color: white">Créer un compte</button>
                    </div>

                </form>
            </form>

   </article>
</main>