{% trans_default_domain 'FOSUserBundle' %}

<main class="container-fluid compte">
    <div class="container">
        <hr>
        <h2>Inscription</h2>

    </div>

    <article class="container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="button3"/>
         
    </div>
   {{ form_end(form) }}


   </article>
</main>