<form method="post" action="{{ path('finitions_delete', {'slug': finition.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ finition.slug) }}">
    <button class="btn">Supprimer</button>
</form>
