{% extends '/admin/index.html.twig'%}

{% block title %}Liste des finitions{% endblock %}


{% block main %}

<main class="container-fluid admin">

   <section class="collections container">
   
        <h2>Liste des finitions</h2>


         <article class="container">

            <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">

                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th>Édition</th>
                    <th>Suppression</th>
                </tr>
                </thead>

                <tbody>
                {% for finition in finitions %}
                    <tr>
                        <th scope="row">{{ finition.nom }}</th>
                        <td scope="row"><a href="{{ path('finitions_edit',{'slug':finition.slug}) }}" class="btn btn-grey">Éditer</a></td>
                        <td><a href="{{ path('finitions_delete' ,{'slug':finition.slug}) }}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                  {% else %}
                    <p>Vous n'avez pas encore crée de finition</p>
                {% endfor %}
         
                </tbody>

            </table>

        </article>
            
 <a href="{{ path('finitions_new') }}" class="btn btn-beige">Ajouter une finition</a>
    </section>

   

</main>

   
{% endblock %}
