{% extends 'base.html.twig' %}

{% block title %}Compose ta tenue{% endblock %}

{% block main %}

<main class="container-fluid">

  <div class="container">
    <hr>
    <h2>Compose ta tenue</h2>
  </div>

  <section class="container">
    <p>Explication.</p>

    {{ form_start(createForm) }}

    {{ form_widget(createForm) }}
   <button class="btn btn-success">Valider</button>
    {{ form_end(createForm) }}




  </section>       








</main>



{% endblock %}
