{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block main %}

<main class="container-fluid">

    <section class="container">

    <a href="{{path('modele_haut')}}"">Model haut</a>
    <a href={{path('modele_bas')}}>Model bas</a>
    <a href="{{path('accessoires')}}">Accessoires</a>


    </section>





</main>


{% endblock %}