{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block main %}


 <main class="container-fluid pageCollections">

    <section class="collections">

        <div class="container">
            <hr>
            <h2>Collection</h2>

        </div>

        <article class="container">
		    <a href="{{path('modele_haut')}}">Model haut</a>
		    <a href="{{path('modele_bas')}}">Model bas</a>
		    <a href="{{path('accessoires')}}">Accessoires</a>

        </article>

   </section>




</main>



{% endblock %}