{% extends '/admin/index.html.twig'%}

{% block title %}Liste des tissus{% endblock %}




{% block main %}
<main class="container-fluid admin">

    <div class="container">

        <h2>Liste des tissus</h2>

    </div>

    <article class="container">

        <table class="table">

            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th>Édition</th>
                <th>Suppression</th>
            </tr>
            </thead>

            <tbody>
            {% for tissu in tissus %}
                <tr>
                    <th scope="row">{{ tissu.nom }}</th>
                    <td scope="row"><a href="{{ path('edit_tissu',{'slug':tissu.slug}) }}" class="btn btn-grey">Éditer</a></td>
                    <td><a href="{{ path('delete_tissu' ,{'slug':tissu.slug}) }}" class="btn btn-danger">Supprimer</a></td>
                </tr>
              {% else %}
                <p>Vous n'avez pas encore crée de tissu</p>
            {% endfor %}
     
            </tbody>

        </table>

        <a href="{{ path('addTissu') }}" class="btn btn-beige">Ajouter un tissu</a>

    </article>

    
</main>

{% endblock %}

