{% extends 'base.html.twig' %}
{% block title %}Céline NP {% endblock %}

{% block main %}

    <main class="container-fluid">

    <section class="collections">

    <div class="container">
        <h2>Accès non autorisé</h2>

        <a href="{{ path('/') }}">Retour à l'accueil</a>
    </div>

{% endblock%}