{% extends 'base.html.twig' %}
{% block title %}Céline NP {% endblock %}

{% block main %}

    <main class="container-fluid">

	    <section class="container collections">

	        <h3>Accès non autorisé</h3>
	          <a href="{{ path('home') }}">Retour à l'accueil</a>






	    </section>




    </main>

{% endblock%}