<form method="post" action="{{ path('mensurations_delete', {'id': mensuration.id}) }}" onsubmit="return confirm('Es-tu sûre de vouloir supprimer tes mensusartions?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mensuration.id) }}">
    <button class="btn btn-danger">Supprimer</button>
   
</form>
